@{
    ViewData["Title"] = "Home Page";
    ViewData["PageHeading"] = "John's Movie Rating Website";
}

<link rel="stylesheet" href="~/css/cms.css" />
<script src="~/js/site.js" language="javascript" type="text/javascript"></script>


<style>
    background-image {
        background-size: auto;
    }

    p6 {
        background-color: #ccc;
        text-align: center
    }

    h1 {
        background-color: #ccc;
        text-align: center
    }

    p5 {
        padding: 40px;
        text-align: center
    }

    p4 {
        background-color: #ccc;
        text-align: center
    }

    p6 > div {
    }
</style>

<body>
    <h1>Films...</h1>


    <p6>
        Whatever you are in to tear jerkers or action packed movies please share your review on movies you have watched by signing up to site now!




        <div>

            <video width="320" height="240" controls>

                <source src="~/Video/No exit visa no ticket - Copy.mp4" type="video/mp4">

            </video>

        </div>
        <p5>(Basically me in russia at the moment - Movie "Anastasia")</p5>





    </p6>
    <p4>However if you can't seem to find your favourite or recently watched movie, you can put in request with admin.</p4>

</body>
